.card.line {
  flex-direction: inherit!important;
  padding: 10px 0;

  .view.view-cascade {
    margin-left: -4%;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  span.heart {
    display: flex;
  }
}

.card-pad {
  padding-left: 5px;
  padding-right: 0;
}

.card.card-cascade.narrower {
  margin-top: 1.25rem;

  .view.view-cascade {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: -1.25rem;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    border-radius: .25rem;

    .view {
      position: relative;
      overflow: hidden;
      cursor: default;

      img, video {
        position: relative;
        display: block;
      }

      .mask {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        width: 100%;
        height: 100%;
        background-attachment: fixed;
      }
    }
  }
}

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  border: 0;
  font-weight: 400;

  .card-body h1, .card .card-body h2, .card .card-body h3, .card .card-body h4, .card .card-body h5, .card .card-body h6 {
    font-weight: 400;
  }

  .card-title {
    margin-bottom: .75rem;
  }

  .card-body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: 0 !important;
    flex: 1 1 auto;
    padding: 1.25rem;

    .card-text {
      color: #747373;
      font-size: .9rem;
      font-weight: 400;
    }
  }

  .card-bottom {
    font-size: 20px;
    display: inline;
    padding: 1.25rem;

    span {
      float: right;
      margin-left: 10px;
      cursor: pointer;

      &.heart {
        color: #ff00008a;
      }

      &.share {
        color: #0067efc7;
      }

      &.save {
        color: #040404bf;
      }
    }

    p {
      font-size: 10px;
      padding: 0;
      margin: 0;

      i {
        font-size: 7px;
      }
    }
  }
}

.img-fluid, .modal-dialog.cascading-modal.modal-avatar .modal-header, .video-fluid {
  max-width: 100%;
  min-width: 100%;
  height: auto;
  background: black;
}

.overlay .mask {
  opacity: 0;
  transition: all .4s ease-in-out;
}

.waves-effect {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  user-select: none;
}

.rgba-white-slight, .rgba-white-slight:after {
  background-color: rgba(255, 255, 255, .1);
}

.pink-text {
  color: #504646bf;
  font-size: 12px;
}