body {
  margin: 0;
  padding: 0;
  font-family: verdana;
  background: #e6ecf0;
}

*, ::after, ::before {
  box-sizing: border-box;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: middle;
  border-style: none;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

label {
  margin-bottom: 0;
}

button:focus {
  outline: none;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.h5, h5 {
  font-size: 1.25rem;
}

.h4, h4 {
  font-size: 1.5rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  line-height: 1.2;
}

input:focus /*, select:focus*/
{
  outline: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}