nav {
  height: 70px;
  background: #053f5e;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;

  .container {
    padding: 25px;
    width: 1190px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logo {
      img {
        height: 65px;
        width: auto;
      }
    }

    .main-menu {
      ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        color: white;
        margin: 0;
        padding: 0;

        li {
          display: flex;
          align-items: center;

          &.dropdown {
            cursor: pointer;
          }

          a, .dropdown-active {
            padding: 27px 15px;
            font-size: 16px;
            text-decoration: none;
            color: white;

            i {
              &.fas {
                margin-right: 8px;
              }

              &.fa-caret-down {
                margin-left: 4px;
              }
            }
          }

          &.dropdown {
            position: relative;

            #dropdown-menu {
              height: 0;
              padding: 0;
              margin: 0;
              visibility: hidden;
              background: white;
              display: none;
              border: 1px solid rgba(0, 0, 0, .15);
              width: 200px;
              box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
              background-clip: padding-box;
              border-bottom-right-radius: 4px;
              border-bottom-left-radius: 4px;
              overflow: hidden;
              transition: all .2s ease-in-out;


              li {
                a {
                  color: black;
                  display: block;
                  padding: 16px 12px;
                  box-sizing: border-box;
                  background: white;
                  transition: background .2s ease-in-out;
                  width: 100%;

                  &:hover {
                    background: #f3f3f3;
                  }
                }
              }
            }

            &:hover {
              #dropdown-menu {
                position: absolute;
                top: 50px;
                right: 10px;
                height: auto;
                visibility: visible;
                display: block;
              }
            }
          }
        }
      }
    }
  }
}