@import "sidebar";
@import "global";
@import "var";
@import "header";
@import "card";
@import "swipper";

.row-header {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;

  h3 {
    color: #504646bf;
    font-size: 22px;
  }
}

.trend-card {
  padding: 10px 20px;
  border: 1px solid #ccc;
  background: #fff;
  margin-bottom: 10px;

  h4 {
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }

  li {
    font-size: 13px;
    color: #000;
    padding-bottom: 5px;
    cursor: pointer;

    &:hover {
      color: #504646bf;
    }

  }
}

.filter-button {
  color: black;
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
  border: 0;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  padding: 5px;

  &.filter {
    color: #28a745
  }

  &.clear {
    color: #dc3545
  }
}

.top-filter {
  background: white;
  border: 1px solid #ccc;
  padding: 10px 5px;
  display: flex;

  ul {
    display: flex;
    padding-right: 10px;
    border-right: 1px solid #ccc;
    width: fit-content;

    li {
      padding: 5px 10px;
      font-size: 14px;
      cursor: pointer;
    }
  }

  ul.component-list {
    border: none;
    display: inline-flex;
    float: right;
    position: absolute;
    right: 10px;

    li {
      font-size: 16px;

      &.active {
        color: #053f5e;
      }
    }
  }
}

.form-control {
  border-radius: 0;

  &:focus {
    outline: none;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.active-cyan-2 input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #ccc;
  border-right: none;
  border-top: none;
  border-left: none;
}

.active-cyan-2 input[type=text] {
  border-bottom: 1px solid #ccc;
  border-right: none;
  border-top: none;
  border-left: none;
}

.active-cyan-2 .fa, .active-cyan-2 .fa {
  color: #4dd0e1;
}

.select-mate {
  padding: 5px 0;
  border-bottom: 2px solid #3e3939;
  font-size: 14px;
  margin-bottom: 10px;
  cursor: pointer;
}

.home-head {
  background: #f1f2f2;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(150, 146, 146, 0.5);
  border: none;
  color: #3e4e5d;

  h1 {
    font-size: 1.2rem;
    font-weight: bold;
  }

  p {
    font-size: 13px;
    padding: 10px;
  }
}

.jumbotron-right {
  position: relative;
  height: auto;
  width: 100%;

  .desploy {
    background: linear-gradient(109.61deg, #4c4f5a 4.26%, #202125 84.84%);
    position: absolute;
    width: 330px;
    height: 330px;
    border-radius: 10px;

    .fake-card {
      background: #1d1e22;
      height: 100px;
      width: 200px;
      position: absolute;
      border-radius: 10px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, .5);

      .head-card {
        font-weight: 900;
        font-size: 14px;
        letter-spacing: 1.57px;
        color: #c5c8d4;
        margin: 0;
        padding: 5px 10px;

        span {
          color: #4c4f5a;
          margin-left: 5px;
          margin-right: 5px;

          &:last-child {
            float: right;
          }
        }
      }

      .text-card {
        font-family: Lato, sans-serif;
        font-size: 13px;
        margin: 5px 10px;

        .dark-yellow {
          color: #a88038;
        }

        .light-yellow {
          color: #e1ca72;
        }

        .green {
          color: #74b087;
        }
      }

      &.top {
        top: 5px;
        left: -40px;
      }

      &.center {
        top: 115px;
        left: 40px;
      }

      &.bottom {
        top: 225px;
        left: -80px;
      }
    }

    .braille {
      font-size: 80px;
      position: absolute;

      &.top {
        top: -8px;
        left: 163px;

        .fa-braille:before {
          background: linear-gradient(to right, #37d025 0%, #69fea9 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      &.center {
        top: 105px;
        left: -64px;

        .fa-braille:before {
          background: linear-gradient(to right, #d0c903 0%, #fefd74 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      &.bottom {
        top: 215px;
        left: 125px;

        .fa-braille:before {
          background: linear-gradient(to right, #0274d0 0%, #26d6fe 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
}

.search-box {
  background-image: url(../images/search-box.jpg);
  height: 300px;
  object-fit: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  position: relative;
  padding: 100px 50px;

  .search {
    width: 600px;
    margin-left: 25px;
    margin-right: 25px;

    h1 {
      font-size: 1.9rem;
    }

    input {
      width: 85%;
      border-radius: 10px;
      border: 1px solid #ccc;
      padding: 10px;
      color: #343a40;
    }

    .seo-link-container {
      width: 85%;
    }

    .btn {
      line-height: 1.9;
      border-radius: 10px;

      &.seo-link {
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 3px;
        background: #545b6269;
        padding: 2px 30px;
        font-size: 14px;
        color: #ccc;
        border: 1px solid #ccc;

        &:hover {
          background: #343a40;
          text-decoration: underline;
        }
      }
    }
  }
}