.swiper-container {
  width: 100%;
  height: 350px;
  background: transparent;
}
.swiper-slide {
  text-align: center!important;
  font-size: 18px!important;
  background: transparent!important;
  /* Center slide text vertically */
  display: -webkit-box!important;
  display: -ms-flexbox!important;
  display: -webkit-flex!important;
  display: flex!important;
  -webkit-box-pack: center!important;
  -ms-flex-pack: center!important;
  -webkit-justify-content: center!important;
  justify-content: center!important;
  -webkit-box-align: center!important;
  -ms-flex-align: center!important;
  -webkit-align-items: center!important;
  align-items: center!important;
}

.swiper-pagination {
  top: 150px;
  right: -50px;
  display: inline-grid;
}

.swiper-pagination-bullet {
  margin: 2px;
}